*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15pt;
    font-family: 'Open Sans Condensed', sans-serif;
}
/* style for header contents */
.logo{
    font-family: 'Open Sans Condensed', sans-serif;
    color: seashell;
    font-size: 28px;
    margin-left: 10px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: stretch;
    color: seashell;
}

.active {
    display: flex;
    margin: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: var(--text-color);
    font-size: 28px;
    font-weight: 500;
}

a{
    text-decoration: none;
}

a:hover{
    color: rgb(17, 17, 19);
}


nav, footer {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    background-color: rgb(37, 74, 196);
    box-shadow: 2px 2px 31px 7px rgba(87,170,255,0.8);
    
}

/* end styling for header */


/* styling for container 1 */
.container-1{

    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.c1intro{
    display: block;
    text-align: center;
    margin: auto;
    padding: 10px;
}

#about, #work{
    font-size: 36pt;
    color:rgb(37, 74, 196);
    text-align: center;
    display: block;
    margin: auto;
    align-content: center;
}

.aboutMe{
    display: flex;
    flex: 1;
    color:rgb(37, 74, 196);
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 50px;
    flex-direction: column;
}
/* end styling for container 1 */

/* styling for container 2 */

.work {
    color: rgb(37, 74, 196);
    margin: 30px;
    display: flex;
    flex: 1;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: space-between;
        
}

.project1, .dayPlanner, .converterPage{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#pinPointimg, #dayPlanner, #converter{
    border: 1px solid;
    border-color:rgb(37, 74, 196);
    border-radius: 4px;
    padding: 5px;
    width: 350px;
}

#pinPointimg:hover, #dayPlanner:hover, #converter:hover{
-webkit-box-shadow: -12px 14px 15px 2px #122EFF; 
box-shadow: -12px 14px 15px 2px #122EFF;
transition-duration: 0.4s;
}

#contact{
    color: seashell;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    margin: 25px;
}
#ham-label, #hamburger{
    display: none;
} 

@media only screen and (max-width: 768px) {

    nav, footer{
        height: 40px;
        width: 100vw;
        margin: 0px;
        min-width: 500px;
        max-width: 1200px;
    }

    .active{
        font-size: 12px;
    }
    /* .aboutMe{
        height: 100px;
    }
    .abtme{
        flex-direction: column;
    }
       
    footer{
        margin-top: 0px;
    }  */

  
     .work{
        font-size: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .project1, .dayPlanner, .converterPage{
        margin-bottom: 15px;
    }

    .description{
        margin-bottom: 8px;
    }
     
} 



